In [205]:
import numpy as np
import pandas as pd
import json

In [206]:
url = 'pnad2012.csv'
data = pd.read_csv(url, index_col=0)

In [207]:
data

,education,income,income_work,income_rent,income_capital,race,gender,weight,age,occupation,uf
0,15.0,3000.0,3000.0,NaN,NaN,16,1,246.0,48.0,1310.0,11
1,15.0,3000.0,3000.0,NaN,NaN,16,2,246.0,48.0,4110.0,11
2,15.0,1100.0,1100.0,NaN,NaN,16,2,246.0,23.0,3514.0,11
3,14.0,1100.0,1100.0,NaN,NaN,16,2,246.0,21.0,3514.0,11
4,15.0,460.0,NaN,460.0,460.0,16,2,246.0,54.0,NaN,11
5,15.0,10000.0,10000.0,NaN,NaN,2,1,246.0,56.0,2143.0,11
6,15.0,500.0,500.0,NaN,NaN,4,2,247.0,23.0,2611.0,11
7,0.0,622.0,NaN,NaN,NaN,4,2,246.0,63.0,NaN,11
8,11.0,622.0,622.0,NaN,NaN,2,2,247.0,39.0,5132.0,11
9,15.0,1200.0,1200.0,NaN,NaN,4,1,246.0,49.0,7152.0,11
10,4.0,NaN,NaN,NaN,NaN,2,2,246.0,12.0,NaN,11
11,8.0,1000.0,1000.0,NaN,NaN,4,1,246.0,52.0,7825.0,11
12,11.0,NaN,NaN,NaN,NaN,4,2,247.0,38.0,NaN,11
13,11.0,1200.0,1200.0,NaN,NaN,4,2,246.0,18.0,4211.0,11
14,6.0,NaN,NaN,NaN,NaN,4,1,246.0,13.0,NaN,11
15,0.0,NaN,NaN,NaN,NaN,4,1,246.0,4.0,NaN,11
16,8.0,622.0,NaN,NaN,NaN,4,2,247.0,70.0,NaN,11
17,8.0,7000.0,7000.0,NaN,NaN,4,1,246.0,53.0,1219.0,11
18,8.0,NaN,NaN,NaN,NaN,4,2,247.0,47.0,NaN,11
19,15.0,1700.0,1700.0,NaN,NaN,4,1,246.0,24.0,4121.0,11
20,13.0,NaN,NaN,NaN,NaN,16,1,246.0,20.0,NaN,11
21,10.0,5000.0,5000.0,NaN,NaN,4,1,246.0,39.0,1219.0,11
22,14.0,NaN,NaN,NaN,NaN,2,2,246.0,37.0,NaN,11
23,9.0,NaN,NaN,NaN,NaN,4,1,246.0,15.0,NaN,11
24,14.0,2000.0,2000.0,NaN,NaN,16,1,247.0,31.0,1320.0,11
25,0.0,NaN,NaN,NaN,NaN,4,2,246.0,7.0,NaN,11
26,4.0,622.0,622.0,NaN,NaN,4,1,247.0,58.0,5174.0,11
27,15.0,800.0,800.0,NaN,NaN,4,2,246.0,59.0,2313.0,11
28,7.0,NaN,NaN,NaN,NaN,4,1,246.0,13.0,NaN,11
29,11.0,6000.0,6000.0,NaN,NaN,16,1,246.0,39.0,1220.0,11
...,...,...,...,...,...,...,...,...,...,...,...
362421,15.0,2300.0,2300.0,NaN,NaN,16,1,292.0,72.0,1210.0,53
362422,11.0,NaN,NaN,NaN,NaN,4,2,292.0,67.0,NaN,53
362423,15.0,6500.0,6500.0,NaN,NaN,16,1,292.0,42.0,1123.0,53
362424,15.0,6000.0,6000.0,NaN,NaN,2,1,292.0,29.0,1219.0,53
362425,15.0,3000.0,3000.0,NaN,NaN,16,2,293.0,29.0,1310.0,53
362426,15.0,4000.0,4000.0,NaN,NaN,4,2,292.0,56.0,4110.0,53
362427,15.0,10000.0,7200.0,NaN,NaN,16,2,293.0,42.0,2611.0,53
362428,5.0,1400.0,NaN,NaN,NaN,16,2,293.0,12.0,NaN,53
362429,11.0,3000.0,3000.0,NaN,NaN,16,1,293.0,55.0,3224.0,53
362430,15.0,1800.0,1800.0,NaN,NaN,16,2,292.0,49.0,2311.0,53
362431,15.0,8000.0,8000.0,NaN,NaN,16,1,293.0,55.0,5134.0,53
362432,15.0,6000.0,6000.0,NaN,NaN,16,2,293.0,44.0,2313.0,53
362433,7.0,NaN,NaN,NaN,NaN,16,2,292.0,13.0,NaN,53
362434,4.0,NaN,NaN,NaN,NaN,16,1,292.0,11.0,NaN,53
362435,15.0,16000.0,16000.0,NaN,NaN,16,1,292.0,41.0,4110.0,53
362436,15.0,8500.0,8500.0,NaN,NaN,16,2,293.0,39.0,2410.0,53
362437,0.0,NaN,NaN,NaN,NaN,16,1,292.0,3.0,NaN,53
362438,8.0,NaN,NaN,NaN,NaN,16,1,292.0,63.0,NaN,53
362439,15.0,14000.0,14000.0,NaN,NaN,16,2,292.0,63.0,4110.0,53
362440,15.0,7000.0,7000.0,NaN,NaN,16,1,292.0,26.0,4102.0,53
362441,11.0,3000.0,3000.0,NaN,NaN,16,1,292.0,49.0,2631.0,53
362442,11.0,3000.0,3000.0,NaN,NaN,16,2,292.0,47.0,2631.0,53
362443,15.0,1400.0,1400.0,NaN,NaN,4,1,292.0,22.0,2521.0,53
362444,11.0,NaN,NaN,NaN,NaN,16,1,293.0,17.0,NaN,53
362445,5.0,NaN,NaN,NaN,NaN,16,2,292.0,14.0,NaN,53
362446,15.0,NaN,NaN,NaN,NaN,16,2,292.0,51.0,NaN,53
362447,12.0,20000.0,20000.0,NaN,NaN,16,1,292.0,53.0,4110.0,53
362448,13.0,NaN,NaN,NaN,NaN,16,1,292.0,21.0,NaN,53
362449,13.0,NaN,NaN,NaN,NaN,16,1,292.0,19.0,NaN,53
362450,15.0,13000.0,13000.0,NaN,NaN,16,1,292.0,40.0,4132.0,53

### Gênero
Sabe-se que existem mais mulheres que homens no Brasil, logo, como a tabela representa a população brasileira então 1 representa a população masculina e 2 a população feminina.

1. **Homens**
2. **Mulheres**

In [208]:
total_homens = data[data.gender == 1].sum()['weight']
total_homens

97180709.0

In [209]:
total_mulheres = data[data.gender == 2].sum()['weight']
total_mulheres

102508198.0

### Raça

Por comparação entre os números absolutos dos dados e a tabela https://sidra.ibge.gov.br/Tabela/3175#resultado, temos que:

- 0. Sem declaração
- 1. Amarela
- 2. Preto
- 4. Pardo
- 8. Indígena
- 16. Branco

In [210]:
data.race.unique()

array([16,  2,  4,  1,  8,  0])

In [211]:
# Sem declaração
data[data.race == 0].sum()['weight']

6481.0

In [212]:
# Amarela
data[data.race == 1].sum()['weight']

1031978.0

In [213]:
# Preto
data[data.race == 2].sum()['weight']

15862257.0

In [214]:
# Pardo
data[data.race == 4].sum()['weight']

89776808.0

In [215]:
# Indígena
data[data.race == 8].sum()['weight']

596832.0

In [216]:
# Branco
data[data.race == 16].sum()['weight']

92414551.0

### Simplificando  

Foram considerados brancos pessoas autodeclaradas brancas e amareladas e negros pessoas pardas e pretas.

- N - Negros (Pretos + Pardos)
- B - Brancos (Brancos + Amarelos)

In [217]:
data = data[data.race != 0]
data = data[data.race != 8]

In [218]:
data.race = data.race.replace([4, 2], 'N')
data.race= data.race.replace([1, 16], 'B')

In [219]:
total_populacao = data.sum()['weight']
total_populacao

199085594.0

In [220]:
data

,education,income,income_work,income_rent,income_capital,race,gender,weight,age,occupation,uf
0,15.0,3000.0,3000.0,NaN,NaN,B,1,246.0,48.0,1310.0,11
1,15.0,3000.0,3000.0,NaN,NaN,B,2,246.0,48.0,4110.0,11
2,15.0,1100.0,1100.0,NaN,NaN,B,2,246.0,23.0,3514.0,11
3,14.0,1100.0,1100.0,NaN,NaN,B,2,246.0,21.0,3514.0,11
4,15.0,460.0,NaN,460.0,460.0,B,2,246.0,54.0,NaN,11
5,15.0,10000.0,10000.0,NaN,NaN,N,1,246.0,56.0,2143.0,11
6,15.0,500.0,500.0,NaN,NaN,N,2,247.0,23.0,2611.0,11
7,0.0,622.0,NaN,NaN,NaN,N,2,246.0,63.0,NaN,11
8,11.0,622.0,622.0,NaN,NaN,N,2,247.0,39.0,5132.0,11
9,15.0,1200.0,1200.0,NaN,NaN,N,1,246.0,49.0,7152.0,11
10,4.0,NaN,NaN,NaN,NaN,N,2,246.0,12.0,NaN,11
11,8.0,1000.0,1000.0,NaN,NaN,N,1,246.0,52.0,7825.0,11
12,11.0,NaN,NaN,NaN,NaN,N,2,247.0,38.0,NaN,11
13,11.0,1200.0,1200.0,NaN,NaN,N,2,246.0,18.0,4211.0,11
14,6.0,NaN,NaN,NaN,NaN,N,1,246.0,13.0,NaN,11
15,0.0,NaN,NaN,NaN,NaN,N,1,246.0,4.0,NaN,11
16,8.0,622.0,NaN,NaN,NaN,N,2,247.0,70.0,NaN,11
17,8.0,7000.0,7000.0,NaN,NaN,N,1,246.0,53.0,1219.0,11
18,8.0,NaN,NaN,NaN,NaN,N,2,247.0,47.0,NaN,11
19,15.0,1700.0,1700.0,NaN,NaN,N,1,246.0,24.0,4121.0,11
20,13.0,NaN,NaN,NaN,NaN,B,1,246.0,20.0,NaN,11
21,10.0,5000.0,5000.0,NaN,NaN,N,1,246.0,39.0,1219.0,11
22,14.0,NaN,NaN,NaN,NaN,N,2,246.0,37.0,NaN,11
23,9.0,NaN,NaN,NaN,NaN,N,1,246.0,15.0,NaN,11
24,14.0,2000.0,2000.0,NaN,NaN,B,1,247.0,31.0,1320.0,11
25,0.0,NaN,NaN,NaN,NaN,N,2,246.0,7.0,NaN,11
26,4.0,622.0,622.0,NaN,NaN,N,1,247.0,58.0,5174.0,11
27,15.0,800.0,800.0,NaN,NaN,N,2,246.0,59.0,2313.0,11
28,7.0,NaN,NaN,NaN,NaN,N,1,246.0,13.0,NaN,11
29,11.0,6000.0,6000.0,NaN,NaN,B,1,246.0,39.0,1220.0,11
...,...,...,...,...,...,...,...,...,...,...,...
362421,15.0,2300.0,2300.0,NaN,NaN,B,1,292.0,72.0,1210.0,53
362422,11.0,NaN,NaN,NaN,NaN,N,2,292.0,67.0,NaN,53
362423,15.0,6500.0,6500.0,NaN,NaN,B,1,292.0,42.0,1123.0,53
362424,15.0,6000.0,6000.0,NaN,NaN,N,1,292.0,29.0,1219.0,53
362425,15.0,3000.0,3000.0,NaN,NaN,B,2,293.0,29.0,1310.0,53
362426,15.0,4000.0,4000.0,NaN,NaN,N,2,292.0,56.0,4110.0,53
362427,15.0,10000.0,7200.0,NaN,NaN,B,2,293.0,42.0,2611.0,53
362428,5.0,1400.0,NaN,NaN,NaN,B,2,293.0,12.0,NaN,53
362429,11.0,3000.0,3000.0,NaN,NaN,B,1,293.0,55.0,3224.0,53
362430,15.0,1800.0,1800.0,NaN,NaN,B,2,292.0,49.0,2311.0,53
362431,15.0,8000.0,8000.0,NaN,NaN,B,1,293.0,55.0,5134.0,53
362432,15.0,6000.0,6000.0,NaN,NaN,B,2,293.0,44.0,2313.0,53
362433,7.0,NaN,NaN,NaN,NaN,B,2,292.0,13.0,NaN,53
362434,4.0,NaN,NaN,NaN,NaN,B,1,292.0,11.0,NaN,53
362435,15.0,16000.0,16000.0,NaN,NaN,B,1,292.0,41.0,4110.0,53
362436,15.0,8500.0,8500.0,NaN,NaN,B,2,293.0,39.0,2410.0,53
362437,0.0,NaN,NaN,NaN,NaN,B,1,292.0,3.0,NaN,53
362438,8.0,NaN,NaN,NaN,NaN,B,1,292.0,63.0,NaN,53
362439,15.0,14000.0,14000.0,NaN,NaN,B,2,292.0,63.0,4110.0,53
362440,15.0,7000.0,7000.0,NaN,NaN,B,1,292.0,26.0,4102.0,53
362441,11.0,3000.0,3000.0,NaN,NaN,B,1,292.0,49.0,2631.0,53
362442,11.0,3000.0,3000.0,NaN,NaN,B,2,292.0,47.0,2631.0,53
362443,15.0,1400.0,1400.0,NaN,NaN,N,1,292.0,22.0,2521.0,53
362444,11.0,NaN,NaN,NaN,NaN,B,1,293.0,17.0,NaN,53
362445,5.0,NaN,NaN,NaN,NaN,B,2,292.0,14.0,NaN,53
362446,15.0,NaN,NaN,NaN,NaN,B,2,292.0,51.0,NaN,53
362447,12.0,20000.0,20000.0,NaN,NaN,B,1,292.0,53.0,4110.0,53
362448,13.0,NaN,NaN,NaN,NaN,B,1,292.0,21.0,NaN,53
362449,13.0,NaN,NaN,NaN,NaN,B,1,292.0,19.0,NaN,53
362450,15.0,13000.0,13000.0,NaN,NaN,B,1,292.0,40.0,4132.0,53

In [221]:
data['total_income'] = data['income'] * data['weight']
data

,education,income,income_work,income_rent,income_capital,race,gender,weight,age,occupation,uf,total_income
0,15.0,3000.0,3000.0,NaN,NaN,B,1,246.0,48.0,1310.0,11,738000.0
1,15.0,3000.0,3000.0,NaN,NaN,B,2,246.0,48.0,4110.0,11,738000.0
2,15.0,1100.0,1100.0,NaN,NaN,B,2,246.0,23.0,3514.0,11,270600.0
3,14.0,1100.0,1100.0,NaN,NaN,B,2,246.0,21.0,3514.0,11,270600.0
4,15.0,460.0,NaN,460.0,460.0,B,2,246.0,54.0,NaN,11,113160.0
5,15.0,10000.0,10000.0,NaN,NaN,N,1,246.0,56.0,2143.0,11,2460000.0
6,15.0,500.0,500.0,NaN,NaN,N,2,247.0,23.0,2611.0,11,123500.0
7,0.0,622.0,NaN,NaN,NaN,N,2,246.0,63.0,NaN,11,153012.0
8,11.0,622.0,622.0,NaN,NaN,N,2,247.0,39.0,5132.0,11,153634.0
9,15.0,1200.0,1200.0,NaN,NaN,N,1,246.0,49.0,7152.0,11,295200.0
10,4.0,NaN,NaN,NaN,NaN,N,2,246.0,12.0,NaN,11,NaN
11,8.0,1000.0,1000.0,NaN,NaN,N,1,246.0,52.0,7825.0,11,246000.0
12,11.0,NaN,NaN,NaN,NaN,N,2,247.0,38.0,NaN,11,NaN
13,11.0,1200.0,1200.0,NaN,NaN,N,2,246.0,18.0,4211.0,11,295200.0
14,6.0,NaN,NaN,NaN,NaN,N,1,246.0,13.0,NaN,11,NaN
15,0.0,NaN,NaN,NaN,NaN,N,1,246.0,4.0,NaN,11,NaN
16,8.0,622.0,NaN,NaN,NaN,N,2,247.0,70.0,NaN,11,153634.0
17,8.0,7000.0,7000.0,NaN,NaN,N,1,246.0,53.0,1219.0,11,1722000.0
18,8.0,NaN,NaN,NaN,NaN,N,2,247.0,47.0,NaN,11,NaN
19,15.0,1700.0,1700.0,NaN,NaN,N,1,246.0,24.0,4121.0,11,418200.0
20,13.0,NaN,NaN,NaN,NaN,B,1,246.0,20.0,NaN,11,NaN
21,10.0,5000.0,5000.0,NaN,NaN,N,1,246.0,39.0,1219.0,11,1230000.0
22,14.0,NaN,NaN,NaN,NaN,N,2,246.0,37.0,NaN,11,NaN
23,9.0,NaN,NaN,NaN,NaN,N,1,246.0,15.0,NaN,11,NaN
24,14.0,2000.0,2000.0,NaN,NaN,B,1,247.0,31.0,1320.0,11,494000.0
25,0.0,NaN,NaN,NaN,NaN,N,2,246.0,7.0,NaN,11,NaN
26,4.0,622.0,622.0,NaN,NaN,N,1,247.0,58.0,5174.0,11,153634.0
27,15.0,800.0,800.0,NaN,NaN,N,2,246.0,59.0,2313.0,11,196800.0
28,7.0,NaN,NaN,NaN,NaN,N,1,246.0,13.0,NaN,11,NaN
29,11.0,6000.0,6000.0,NaN,NaN,B,1,246.0,39.0,1220.0,11,1476000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
362421,15.0,2300.0,2300.0,NaN,NaN,B,1,292.0,72.0,1210.0,53,671600.0
362422,11.0,NaN,NaN,NaN,NaN,N,2,292.0,67.0,NaN,53,NaN
362423,15.0,6500.0,6500.0,NaN,NaN,B,1,292.0,42.0,1123.0,53,1898000.0
362424,15.0,6000.0,6000.0,NaN,NaN,N,1,292.0,29.0,1219.0,53,1752000.0
362425,15.0,3000.0,3000.0,NaN,NaN,B,2,293.0,29.0,1310.0,53,879000.0
362426,15.0,4000.0,4000.0,NaN,NaN,N,2,292.0,56.0,4110.0,53,1168000.0
362427,15.0,10000.0,7200.0,NaN,NaN,B,2,293.0,42.0,2611.0,53,2930000.0
362428,5.0,1400.0,NaN,NaN,NaN,B,2,293.0,12.0,NaN,53,410200.0
362429,11.0,3000.0,3000.0,NaN,NaN,B,1,293.0,55.0,3224.0,53,879000.0
362430,15.0,1800.0,1800.0,NaN,NaN,B,2,292.0,49.0,2311.0,53,525600.0
362431,15.0,8000.0,8000.0,NaN,NaN,B,1,293.0,55.0,5134.0,53,2344000.0
362432,15.0,6000.0,6000.0,NaN,NaN,B,2,293.0,44.0,2313.0,53,1758000.0
362433,7.0,NaN,NaN,NaN,NaN,B,2,292.0,13.0,NaN,53,NaN
362434,4.0,NaN,NaN,NaN,NaN,B,1,292.0,11.0,NaN,53,NaN
362435,15.0,16000.0,16000.0,NaN,NaN,B,1,292.0,41.0,4110.0,53,4672000.0
362436,15.0,8500.0,8500.0,NaN,NaN,B,2,293.0,39.0,2410.0,53,2490500.0
362437,0.0,NaN,NaN,NaN,NaN,B,1,292.0,3.0,NaN,53,NaN
362438,8.0,NaN,NaN,NaN,NaN,B,1,292.0,63.0,NaN,53,NaN
362439,15.0,14000.0,14000.0,NaN,NaN,B,2,292.0,63.0,4110.0,53,4088000.0
362440,15.0,7000.0,7000.0,NaN,NaN,B,1,292.0,26.0,4102.0,53,2044000.0
362441,11.0,3000.0,3000.0,NaN,NaN,B,1,292.0,49.0,2631.0,53,876000.0
362442,11.0,3000.0,3000.0,NaN,NaN,B,2,292.0,47.0,2631.0,53,876000.0
362443,15.0,1400.0,1400.0,NaN,NaN,N,1,292.0,22.0,2521.0,53,408800.0
362444,11.0,NaN,NaN,NaN,NaN,B,1,293.0,17.0,NaN,53,NaN
362445,5.0,NaN,NaN,NaN,NaN,B,2,292.0,14.0,NaN,53,NaN
362446,15.0,NaN,NaN,NaN,NaN,B,2,292.0,51.0,NaN,53,NaN
362447,12.0,20000.0,20000.0,NaN,NaN,B,1,292.0,53.0,4110.0,53,5840000.0
362448,13.0,NaN,NaN,NaN,NaN,B,1,292.0,21.0,NaN,53,NaN
362449,13.0,NaN,NaN,NaN,NaN,B,1,292.0,19.0,NaN,53,NaN
362450,15.0,13000.0,13000.0,NaN,NaN,B,1,292.0,40.0,4132.0,53,3796000.0

In [222]:
# Renda média total
renda_media_total = data.sum()['total_income']/data.sum()['weight']
renda_media_total

846.4345316818856

In [223]:
# Quantidade de pessoas
qnt_pessoas_masc = data.groupby(['gender']).sum()['weight'][1]
qnt_pessoas_fem = data.groupby(['gender']).sum()['weight'][2]
print('Quantidade de homens: {}'.format(qnt_pessoas_masc))
print('Quantidade de mulheres: {}'.format(qnt_pessoas_fem))

Quantidade de homens: 96880403.0
Quantidade de mulheres: 102205191.0

In [224]:
#Distribuição de renda por gênero
# homens
renda_media_homens = data.groupby(['gender']).sum()['total_income'][1] / data.groupby(['gender']).sum()['weight'][1]

# mulheres
renda_media_mulheres = data.groupby(['gender']).sum()['total_income'][2] / data.groupby(['gender']).sum()['weight'][2]


print('Renda média de homens: {}'.format(renda_media_homens))
print('Renda média de mulheres: {}'.format(renda_media_mulheres))

Renda média de homens: 1067.3118260666195
Renda média de mulheres: 637.0647229258639

In [225]:
#Distribuição de renda por raça
# brancos
renda_media_brancos = data.groupby(['race']).sum()['total_income']['B'] / data.groupby(['race']).sum()['weight']['B']

# negros
renda_media_negros = data.groupby(['race']).sum()['total_income']['N'] / data.groupby(['race']).sum()['weight']['N']

print('Renda média de brancos: {}'.format(renda_media_brancos))
print('Renda média de negros: {}'.format(renda_media_negros))

Renda média de brancos: 1118.4340688780426
Renda média de negros: 605.8283445617395

In [226]:
#Criação da coluna de educação total
data['total_education'] = data['education'] * data['weight']
data

,education,income,income_work,income_rent,income_capital,race,gender,weight,age,occupation,uf,total_income,total_education
0,15.0,3000.0,3000.0,NaN,NaN,B,1,246.0,48.0,1310.0,11,738000.0,3690.0
1,15.0,3000.0,3000.0,NaN,NaN,B,2,246.0,48.0,4110.0,11,738000.0,3690.0
2,15.0,1100.0,1100.0,NaN,NaN,B,2,246.0,23.0,3514.0,11,270600.0,3690.0
3,14.0,1100.0,1100.0,NaN,NaN,B,2,246.0,21.0,3514.0,11,270600.0,3444.0
4,15.0,460.0,NaN,460.0,460.0,B,2,246.0,54.0,NaN,11,113160.0,3690.0
5,15.0,10000.0,10000.0,NaN,NaN,N,1,246.0,56.0,2143.0,11,2460000.0,3690.0
6,15.0,500.0,500.0,NaN,NaN,N,2,247.0,23.0,2611.0,11,123500.0,3705.0
7,0.0,622.0,NaN,NaN,NaN,N,2,246.0,63.0,NaN,11,153012.0,0.0
8,11.0,622.0,622.0,NaN,NaN,N,2,247.0,39.0,5132.0,11,153634.0,2717.0
9,15.0,1200.0,1200.0,NaN,NaN,N,1,246.0,49.0,7152.0,11,295200.0,3690.0
10,4.0,NaN,NaN,NaN,NaN,N,2,246.0,12.0,NaN,11,NaN,984.0
11,8.0,1000.0,1000.0,NaN,NaN,N,1,246.0,52.0,7825.0,11,246000.0,1968.0
12,11.0,NaN,NaN,NaN,NaN,N,2,247.0,38.0,NaN,11,NaN,2717.0
13,11.0,1200.0,1200.0,NaN,NaN,N,2,246.0,18.0,4211.0,11,295200.0,2706.0
14,6.0,NaN,NaN,NaN,NaN,N,1,246.0,13.0,NaN,11,NaN,1476.0
15,0.0,NaN,NaN,NaN,NaN,N,1,246.0,4.0,NaN,11,NaN,0.0
16,8.0,622.0,NaN,NaN,NaN,N,2,247.0,70.0,NaN,11,153634.0,1976.0
17,8.0,7000.0,7000.0,NaN,NaN,N,1,246.0,53.0,1219.0,11,1722000.0,1968.0
18,8.0,NaN,NaN,NaN,NaN,N,2,247.0,47.0,NaN,11,NaN,1976.0
19,15.0,1700.0,1700.0,NaN,NaN,N,1,246.0,24.0,4121.0,11,418200.0,3690.0
20,13.0,NaN,NaN,NaN,NaN,B,1,246.0,20.0,NaN,11,NaN,3198.0
21,10.0,5000.0,5000.0,NaN,NaN,N,1,246.0,39.0,1219.0,11,1230000.0,2460.0
22,14.0,NaN,NaN,NaN,NaN,N,2,246.0,37.0,NaN,11,NaN,3444.0
23,9.0,NaN,NaN,NaN,NaN,N,1,246.0,15.0,NaN,11,NaN,2214.0
24,14.0,2000.0,2000.0,NaN,NaN,B,1,247.0,31.0,1320.0,11,494000.0,3458.0
25,0.0,NaN,NaN,NaN,NaN,N,2,246.0,7.0,NaN,11,NaN,0.0
26,4.0,622.0,622.0,NaN,NaN,N,1,247.0,58.0,5174.0,11,153634.0,988.0
27,15.0,800.0,800.0,NaN,NaN,N,2,246.0,59.0,2313.0,11,196800.0,3690.0
28,7.0,NaN,NaN,NaN,NaN,N,1,246.0,13.0,NaN,11,NaN,1722.0
29,11.0,6000.0,6000.0,NaN,NaN,B,1,246.0,39.0,1220.0,11,1476000.0,2706.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362421,15.0,2300.0,2300.0,NaN,NaN,B,1,292.0,72.0,1210.0,53,671600.0,4380.0
362422,11.0,NaN,NaN,NaN,NaN,N,2,292.0,67.0,NaN,53,NaN,3212.0
362423,15.0,6500.0,6500.0,NaN,NaN,B,1,292.0,42.0,1123.0,53,1898000.0,4380.0
362424,15.0,6000.0,6000.0,NaN,NaN,N,1,292.0,29.0,1219.0,53,1752000.0,4380.0
362425,15.0,3000.0,3000.0,NaN,NaN,B,2,293.0,29.0,1310.0,53,879000.0,4395.0
362426,15.0,4000.0,4000.0,NaN,NaN,N,2,292.0,56.0,4110.0,53,1168000.0,4380.0
362427,15.0,10000.0,7200.0,NaN,NaN,B,2,293.0,42.0,2611.0,53,2930000.0,4395.0
362428,5.0,1400.0,NaN,NaN,NaN,B,2,293.0,12.0,NaN,53,410200.0,1465.0
362429,11.0,3000.0,3000.0,NaN,NaN,B,1,293.0,55.0,3224.0,53,879000.0,3223.0
362430,15.0,1800.0,1800.0,NaN,NaN,B,2,292.0,49.0,2311.0,53,525600.0,4380.0
362431,15.0,8000.0,8000.0,NaN,NaN,B,1,293.0,55.0,5134.0,53,2344000.0,4395.0
362432,15.0,6000.0,6000.0,NaN,NaN,B,2,293.0,44.0,2313.0,53,1758000.0,4395.0
362433,7.0,NaN,NaN,NaN,NaN,B,2,292.0,13.0,NaN,53,NaN,2044.0
362434,4.0,NaN,NaN,NaN,NaN,B,1,292.0,11.0,NaN,53,NaN,1168.0
362435,15.0,16000.0,16000.0,NaN,NaN,B,1,292.0,41.0,4110.0,53,4672000.0,4380.0
362436,15.0,8500.0,8500.0,NaN,NaN,B,2,293.0,39.0,2410.0,53,2490500.0,4395.0
362437,0.0,NaN,NaN,NaN,NaN,B,1,292.0,3.0,NaN,53,NaN,0.0
362438,8.0,NaN,NaN,NaN,NaN,B,1,292.0,63.0,NaN,53,NaN,2336.0
362439,15.0,14000.0,14000.0,NaN,NaN,B,2,292.0,63.0,4110.0,53,4088000.0,4380.0
362440,15.0,7000.0,7000.0,NaN,NaN,B,1,292.0,26.0,4102.0,53,2044000.0,4380.0
362441,11.0,3000.0,3000.0,NaN,NaN,B,1,292.0,49.0,2631.0,53,876000.0,3212.0
362442,11.0,3000.0,3000.0,NaN,NaN,B,2,292.0,47.0,2631.0,53,876000.0,3212.0
362443,15.0,1400.0,1400.0,NaN,NaN,N,1,292.0,22.0,2521.0,53,408800.0,4380.0
362444,11.0,NaN,NaN,NaN,NaN,B,1,293.0,17.0,NaN,53,NaN,3223.0
362445,5.0,NaN,NaN,NaN,NaN,B,2,292.0,14.0,NaN,53,NaN,1460.0
362446,15.0,NaN,NaN,NaN,NaN,B,2,292.0,51.0,NaN,53,NaN,4380.0
362447,12.0,20000.0,20000.0,NaN,NaN,B,1,292.0,53.0,4110.0,53,5840000.0,3504.0
362448,13.0,NaN,NaN,NaN,NaN,B,1,292.0,21.0,NaN,53,NaN,3796.0
362449,13.0,NaN,NaN,NaN,NaN,B,1,292.0,19.0,NaN,53,NaN,3796.0
362450,15.0,13000.0,13000.0,NaN,NaN,B,1,292.0,40.0,4132.0,53,3796000.0,4380.0

In [227]:
# Escolaridade média total
escolaridade_media_total = data.sum()['total_education']/data.sum()['weight']
escolaridade_media_total

6.474662275161909

In [228]:
#Escolaridade por raça
escolaridade_media_brancos = data.groupby(['race']).sum()['total_education']['B'] / data.groupby(['race']).sum()['weight']['B']

# negros
escolaridade_media_negros = data.groupby(['race']).sum()['total_education']['N'] / data.groupby(['race']).sum()['weight']['N']

print('Escolaridade média de brancos: {}'.format(escolaridade_media_brancos))
print('Escolaridade média de negros: {}'.format(escolaridade_media_negros))

Escolaridade média de brancos: 7.262607892049153
Escolaridade média de negros: 5.777658918128441

In [229]:
#Escolaridade por gênero
# homens
escolaridade_media_homens = data.groupby(['gender']).sum()['total_education'][1] / data.groupby(['gender']).sum()['weight'][1]

# mulheres
escolaridade_media_mulheres = data.groupby(['gender']).sum()['total_education'][2] / data.groupby(['gender']).sum()['weight'][2]


print('Escolaridade média de homens: {}'.format(escolaridade_media_homens))
print('Escolaridade média de mulheres: {}'.format(escolaridade_media_mulheres))

Escolaridade média de homens: 6.231728660335982
Escolaridade média de mulheres: 6.704939292173526

In [230]:
new_data = data.groupby(['gender','race']).sum()
new_data

             education       income  income_work  income_rent  income_capital  \
gender race
1      B      520639.0  106249927.0   87091823.0    1694724.0       3276293.0
       N      571626.0   77855993.0   65635728.0     688220.0       1740190.0
2      B      616919.0   69739436.0   48047143.0     898346.0       2666299.0
       N      629748.0   48525307.0   32458657.0     386028.0       3508921.0

                 weight        age   occupation       uf  total_income  \
gender race
1      B     44173466.0  2454228.0  226090571.0  2559737  6.380098e+10
       N     52706937.0  3102758.0  335142931.0  2933281  3.960062e+10
2      B     49273063.0  2939356.0  151563795.0  2855812  4.071280e+10
       N     52932128.0  3290429.0  188894983.0  2959053  2.439852e+10

             total_education
gender race
1      B         312640977.0
       N         291091407.0
2      B         366024522.0
       N         319255079.0

In [261]:
df = data[['occupation', 'income', 'race', 'gender']]
df['race'] = data.race.apply({'B': 0, 'N': 1}.get)
df = df.groupby(['occupation']).mean()


mb = df[(df.gender > 1.5) & (df.race < 0.5)].income.mean() # mulher branca
mn = df[(df.gender > 1.5) & (df.race > 0.5)].income.mean() # mulher negra
hb = df[(df.gender < 1.5) & (df.race < 0.5)].income.mean() # homem branco
hn = df[(df.gender < 1.5) & (df.race > 0.5)].income.mean() # homem negro

[mb, mn, hb, hn]

/home/allan-nobre/ML/ml/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

[2550.7724992320423,
 1124.8756157342907,
 3238.6363478833373,
 1654.6330531005988]

In [268]:
len(df[(df.gender < 1.5) & (df.race < 0.5)])

159

In [231]:
# Quantidade de pessoas por raça e gênero
qtd_mulheres_negras = new_data['weight'][2, 'N']
qtd_mulheres_brancas = new_data['weight'][2, 'B']
qtd_homens_negros = new_data['weight'][1, 'N']
qtd_homens_brancos = new_data['weight'][1, 'B']

print('Quantidade de Mulheres Negras: {}'.format(qtd_mulheres_negras))
print('Quantidade de Mulheres Brancas: {}'.format(qtd_mulheres_brancas))
print('Quantidade de Homens Negros: {}'.format(qtd_homens_negros))
print('Quantidade de Homens Brancos: {}'.format(qtd_homens_brancos))

Quantidade de Mulheres Negras: 52932128.0
Quantidade de Mulheres Brancas: 49273063.0
Quantidade de Homens Negros: 52706937.0
Quantidade de Homens Brancos: 44173466.0

In [232]:
#Renda média por gênero e raça
#brancos
renda_media_homens_brancos = new_data['total_income'][1, 'B'] / new_data['weight'][1, 'B']
renda_media_mulheres_brancas = new_data['total_income'][2, 'B'] / new_data['weight'][2, 'B']

print('Renda média de homens brancos: {}'.format(renda_media_homens_brancos))
print('Renda média de mulheres brancas: {}'.format(renda_media_mulheres_brancas))

#negros
renda_media_homens_negros = new_data['total_income'][1, 'N'] / new_data['weight'][1, 'N']
renda_media_mulheres_negras = new_data['total_income'][2, 'N'] / new_data['weight'][2, 'N']

print('Renda média de homens negros: {}'.format(renda_media_homens_negros))
print('Renda média de mulheres negras: {}'.format(renda_media_mulheres_negras))

Renda média de homens brancos: 1444.328244245086
Renda média de mulheres brancas: 826.2688492087451
Renda média de homens negros: 751.3359246430882
Renda média de mulheres negras: 460.9398024579703

In [233]:
#Escolaridade média por gênero e raça
#brancos
escolaridade_media_homens_brancos = new_data['total_education'][1, 'B'] / new_data['weight'][1, 'B']
escolaridade_media_mulheres_brancas = new_data['total_education'][2, 'B'] / new_data['weight'][2, 'B']

print('Escolaridade média de homens brancos: {}'.format(escolaridade_media_homens_brancos))
print('Escolaridade média de mulheres brancas: {}'.format(escolaridade_media_mulheres_brancas))

#negros
escolaridade_media_homens_negros = new_data['total_education'][1, 'N'] / new_data['weight'][1, 'N']
escolaridade_media_mulheres_negras = new_data['total_education'][2, 'N'] / new_data['weight'][2, 'N']

print('Escolaridade média de homens negros: {}'.format(escolaridade_media_homens_negros))
print('Escolaridade média de mulheres negras: {}'.format(escolaridade_media_mulheres_negras))

Escolaridade média de homens brancos: 7.077574057693368
Escolaridade média de mulheres brancas: 7.428491344246247
Escolaridade média de homens negros: 5.522829129683632
Escolaridade média de mulheres negras: 6.031404575308214

In [234]:
new_data_uf = data.groupby(['uf']).sum()
new_data_uf

,education,income,income_work,income_rent,income_capital,gender,weight,age,occupation,total_income,total_education
uf,,,,,,,,,,,
11,40293.0,4982246.0,4160031.0,63818.0,215305.0,10364,1710271.0,206514.0,19380505.0,1.226710e+09,9921044.0
12,21987.0,2467873.0,1933266.0,23978.0,145642.0,5878,732326.0,106993.0,9971640.0,4.600206e+08,4098346.0
13,63268.0,5938748.0,4803388.0,81180.0,335999.0,16011,3643464.0,296757.0,23966526.0,2.022767e+09,21549371.0
14,18149.0,1924159.0,1592020.0,30150.0,103881.0,4029,466695.0,72734.0,6010491.0,3.329422e+08,3140577.0
15,135745.0,13055150.0,10265757.0,114458.0,566667.0,34430,7843399.0,679224.0,55391041.0,4.070548e+09,42138559.0
16,18299.0,1893735.0,1688956.0,7100.0,64544.0,4440,721185.0,77129.0,5716574.0,4.645089e+08,4488766.0
17,35137.0,4082719.0,3263477.0,115375.0,238459.0,9071,1461898.0,182922.0,15272121.0,9.897626e+08,8518935.0
21,43852.0,3967082.0,2930963.0,15530.0,261288.0,13510,6715577.0,261648.0,22027767.0,2.961993e+09,32739427.0
22,28181.0,3170241.0,2075069.0,50850.0,278018.0,8584,3173477.0,178216.0,15513470.0,1.782849e+09,15848416.0
23,108591.0,10601750.0,7551102.0,99834.0,613666.0,28067,8719816.0,598292.0,45573623.0,4.610398e+09,48640713.0
24,32171.0,3493407.0,2393999.0,39635.0,160048.0,8164,3342730.0,174827.0,12710074.0,2.154524e+09,19841063.0
25,34847.0,3647285.0,2412626.0,39690.0,213188.0,9596,3875395.0,205406.0,14659578.0,2.246053e+09,21459714.0
26,137371.0,13302880.0,9617482.0,83638.0,581236.0,33568,9103921.0,730020.0,47622997.0,5.024327e+09,51795428.0
27,26945.0,2447452.0,1738576.0,14200.0,166201.0,8254,3280095.0,165922.0,11285502.0,1.475198e+09,16240778.0
28,34873.0,3866664.0,2874502.0,22023.0,165028.0,9612,2173655.0,194984.0,15718646.0,1.330536e+09,11999620.0
29,160645.0,17225898.0,12922546.0,168575.0,807518.0,40775,14927047.0,866437.0,65762946.0,8.281034e+09,81916698.0
31,219222.0,30910189.0,23720118.0,475911.0,1205472.0,50421,20425276.0,1126456.0,90263260.0,1.774144e+10,130786105.0
32,46479.0,6225687.0,4827258.0,84721.0,142768.0,10450,3791478.0,234292.0,18706461.0,3.401267e+09,25392427.0
33,189103.0,24735147.0,18107586.0,219334.0,506407.0,39551,16286756.0,926075.0,56909143.0,1.558365e+10,118956076.0
35,292106.0,42887291.0,34357337.0,564585.0,1245833.0,59351,43342917.0,1343207.0,98703898.0,4.742006e+10,323624260.0
41,125995.0,19033017.0,15402079.0,360599.0,621025.0,27658,10919202.0,617852.0,49603638.0,1.101321e+10,74142223.0
42,66809.0,9995477.0,7833701.0,109923.0,210123.0,14276,6555621.0,323629.0,26727200.0,6.934789e+09,46351548.0
43,195454.0,30285729.0,22375887.0,299165.0,807773.0,42366,11106606.0,989985.0,76282561.0,1.138304e+10,75296661.0
50,39817.0,5972967.0,5030049.0,87119.0,194662.0,9114,2544461.0,196785.0,16403328.0,2.505891e+09,16704532.0
51,48430.0,7097638.0,5880040.0,62160.0,463401.0,11400,3136333.0,236779.0,20368102.0,2.918794e+09,19917724.0
52,101214.0,13598516.0,11061994.0,224985.0,515424.0,23154,6353640.0,501569.0,41066149.0,5.627649e+09,41885790.0
53,73949.0,15561716.0,12413542.0,208782.0,362127.0,14235,2732353.0,292117.0,20075039.0,4.548961e+09,21617184.0

In [235]:
# Renda média por estado
renda_media_estado = new_data_uf['total_income']/new_data_uf['weight']
renda_media_estado

uf
11     717.260728
12     628.163681
13     555.176772
14     713.404328
15     518.977585
16     644.091185
17     677.039453
21     441.063061
22     561.796792
23     528.726562
24     644.540185
25     579.567459
26     551.886068
27     449.742450
28     612.119154
29     554.767074
31     868.602338
32     897.082198
33     956.829705
35    1094.067077
41    1008.609141
42    1057.838671
43    1024.889005
50     984.841451
51     930.639012
52     885.736213
53    1664.851192
dtype: float64

In [236]:
# Escolaridade média por estado
escolaridade_media_estado = new_data_uf['total_education']/new_data_uf['weight']
escolaridade_media_estado

uf
11    5.800861
12    5.596341
13    5.914528
14    6.729399
15    5.372487
16    6.224153
17    5.827311
21    4.875147
22    4.994023
23    5.578181
24    5.935586
25    5.537426
26    5.689354
27    4.951313
28    5.520480
29    5.487803
31    6.403150
32    6.697237
33    7.303853
35    7.466601
41    6.790077
42    7.070505
43    6.779448
50    6.565057
51    6.350641
52    6.592408
53    7.911563
dtype: float64

In [237]:
# Valores das UFs
uf_mapping = {
    11: 'Rondônia',
    12: 'Acre',
    13: 'Amazonas',
    14: 'Roraima',
    15: 'Pará',
    16: 'Amapá',
    17: 'Tocantins',
    21: 'Maranhão',
    22: 'Piauí',
    23: 'Ceará',
    24: 'Rio Grande do Norte',
    25: 'Paraíba',
    26: 'Pernambuco',
    27: 'Alagoas',
    28: 'Sergipe',
    29: 'Bahia',
    31: 'Minas Gerais',
    32: 'Espírito Santo',
    33: 'Rio de Janeiro',
    35: 'São Paulo',
    41: 'Paraná',
    42: 'Santa Catarina',
    43: 'Rio Grande do Sul',
    50: 'Mato Grosso do Sul',
    51: 'Mato Grosso',
    52: 'Goiás',
    53: 'Distrito Federal',
}

In [271]:
# Regiões das UFs
region_mapping = {
            11: 'Norte',
            12: 'Norte',
            13: 'Norte',
            14: 'Norte',
            15: 'Norte',
            16: 'Norte',
            17: 'Norte',
            21: 'Nordeste',
            22: 'Nordeste',
            23: 'Nordeste',
            24: 'Nordeste',
            25: 'Nordeste',
            26: 'Nordeste',
            27: 'Nordeste',
            28: 'Nordeste',
            29: 'Nordeste',
            31: 'Sudeste',
            32: 'Sudeste',
            33: 'Sudeste',
            35: 'Sudeste',
            41: 'Sul',
            42: 'Sul',
            43: 'Sul',
            50: 'Centro-Oeste',
            51: 'Centro-Oeste',
            52: 'Centro-Oeste',
            53: 'Centro-Oeste',
        }

## Criação dos JSON's para a Web

Os Jsonś serão compostos pelos dados brutos relevantes e pelos dados calculados a partir do processamento dos dados da planilha "pnad2012.csv".

In [238]:
# Construindo json exemplo:
json_exemp = {}
json_exemp['people'] = []
json_exemp['people'].append({
    'name': 'Scott',
    'website': 'stackabuse.com',
    'from': 'Nebraska'
})
json_exemp['people'].append({
    'name': 'Larry',
    'website': 'google.com',
    'from': 'Michigan'
})
json_exemp['people'].append({
    'name': 'Tim',
    'website': 'apple.com',
    'from': 'Alabama'
})

print(json.dumps(json_exemp, indent=4))

{
    "people": [
        {
            "name": "Scott",
            "website": "stackabuse.com",
            "from": "Nebraska"
        },
        {
            "name": "Larry",
            "website": "google.com",
            "from": "Michigan"
        },
        {
            "name": "Tim",
            "website": "apple.com",
            "from": "Alabama"
        }
    ]
}

O Json será salvo em arquivos que serão disponibilizados para as demais equipes para a utilização das informações tratadas.

In [239]:
# Salvando json em um arquivo chamado: "pnad_data.json" 
with open('json_exemp.json', 'w') as json_exemp_data_out_file:  
    json.dump(json_exemp, json_exemp_data_out_file, indent=4)

### UFs JSON - Renda, Escolaridade

In [272]:
# Criando JSON de dados por UF
uf_json = {'UFs': []}
for i, v in escolaridade_media_estado.items():
    uf_json['UFs'].append({'label': uf_mapping[i],
                           'escolaridade_media': v,
                           'renda_media': renda_media_estado[i],
                           'regiao': region_mapping[i]})

print(json.dumps(uf_json, indent=4, ensure_ascii=False))

# Salvando json em um arquivo chamado: "data_per_uf.json" 
with open('data_per_uf.json', 'w') as data_per_uf_out_file:  
    json.dump(uf_json, data_per_uf_out_file, indent=4, ensure_ascii=False)

{
    "UFs": [
        {
            "label": "Rondônia",
            "escolaridade_media": 5.800860799253452,
            "regiao": "Norte",
            "renda_media": 717.2607276858463
        },
        {
            "label": "Acre",
            "escolaridade_media": 5.596340973828595,
            "regiao": "Norte",
            "renda_media": 628.1636812020876
        },
        {
            "label": "Amazonas",
            "escolaridade_media": 5.91452831700821,
            "regiao": "Norte",
            "renda_media": 555.176772434145
        },
        {
            "label": "Roraima",
            "escolaridade_media": 6.729399286471892,
            "regiao": "Norte",
            "renda_media": 713.4043283086384
        },
        {
            "label": "Pará",
            "escolaridade_media": 5.372486979178287,
            "regiao": "Norte",
            "renda_media": 518.9775845905583
        },
        {
            "label": "Amapá",
            "escolaridade_media": 6.224153303243966,
            "regiao": "Norte",
            "renda_media": 644.0911846474899
        },
        {
            "label": "Tocantins",
            "escolaridade_media": 5.827311481375582,
            "regiao": "Norte",
            "renda_media": 677.0394528209218
        },
        {
            "label": "Maranhão",
            "escolaridade_media": 4.875147288163028,
            "regiao": "Nordeste",
            "renda_media": 441.0630608509142
        },
        {
            "label": "Piauí",
            "escolaridade_media": 4.994022644563046,
            "regiao": "Nordeste",
            "renda_media": 561.7967922880803
        },
        {
            "label": "Ceará",
            "escolaridade_media": 5.578181122170468,
            "regiao": "Nordeste",
            "renda_media": 528.7265623494808
        },
        {
            "label": "Rio Grande do Norte",
            "escolaridade_media": 5.935586481708065,
            "regiao": "Nordeste",
            "renda_media": 644.5401845198386
        },
        {
            "label": "Paraíba",
            "escolaridade_media": 5.537426249453281,
            "regiao": "Nordeste",
            "renda_media": 579.5674593170503
        },
        {
            "label": "Pernambuco",
            "escolaridade_media": 5.689353850939612,
            "regiao": "Nordeste",
            "renda_media": 551.8860679920224
        },
        {
            "label": "Alagoas",
            "escolaridade_media": 4.951313300376971,
            "regiao": "Nordeste",
            "renda_media": 449.7424498375809
        },
        {
            "label": "Sergipe",
            "escolaridade_media": 5.520480481033099,
            "regiao": "Nordeste",
            "renda_media": 612.1191541435968
        },
        {
            "label": "Bahia",
            "escolaridade_media": 5.4878033143461,
            "regiao": "Nordeste",
            "renda_media": 554.7670739564229
        },
        {
            "label": "Minas Gerais",
            "escolaridade_media": 6.40314995009125,
            "regiao": "Sudeste",
            "renda_media": 868.6023382009623
        },
        {
            "label": "Espírito Santo",
            "escolaridade_media": 6.697237066916912,
            "regiao": "Sudeste",
            "renda_media": 897.0821980240951
        },
        {
            "label": "Rio de Janeiro",
            "escolaridade_media": 7.303853265806892,
            "regiao": "Sudeste",
            "renda_media": 956.8297054367365
        },
        {
            "label": "São Paulo",
            "escolaridade_media": 7.466600828919752,
            "regiao": "Sudeste",
            "renda_media": 1094.0670770958955
        },
        {
            "label": "Paraná",
            "escolaridade_media": 6.790077058744769,
            "regiao": "Sul",
            "renda_media": 1008.609141492208
        },
        {
            "label": "Santa Catarina",
            "escolaridade_media": 7.070504533437793,
            "regiao": "Sul",
            "renda_media": 1057.838671119029
        },
        {
            "label": "Rio Grande do Sul",
            "escolaridade_media": 6.779448285101678,
            "regiao": "Sul",
            "renda_media": 1024.8890053361035
        },
        {
            "label": "Mato Grosso do Sul",
            "escolaridade_media": 6.565057196789418,
            "regiao": "Centro-Oeste",
            "renda_media": 984.8414509006033
        },
        {
            "label": "Mato Grosso",
            "escolaridade_media": 6.3506407004613346,
            "regiao": "Centro-Oeste",
            "renda_media": 930.6390118651304
        },
        {
            "label": "Goiás",
            "escolaridade_media": 6.592408446182031,
            "regiao": "Centro-Oeste",
            "renda_media": 885.736212627722
        },
        {
            "label": "Distrito Federal",
            "escolaridade_media": 7.911563403410907,
            "regiao": "Centro-Oeste",
            "renda_media": 1664.8511919945922
        }
    ]
}

### População Dados JSON - Renda, Salário, Horas Trabalhadas, Idade, Escolaridade

### População Dados Porcentagem - Quantidade de Pessoas (Raça e Gênero), Renda, Escolaridade

In [241]:
dist_populacao = {'Populacao': []}
dist_populacao['Populacao'].append({'label': 'Total',
                                    'qtd_pessoas': total_populacao,
                                    'porcen_pessoas': 1,
                                    'renda_media': renda_media_total,
                                    'escolaridade_media': escolaridade_media_total})

dist_populacao['Populacao'].append({'label': 'Mulheres Negras',
                                    'qtd_pessoas': qtd_mulheres_negras,
                                    'porcen_pessoas': qtd_mulheres_negras/total_populacao,
                                    'renda_media': renda_media_mulheres_negras,
                                    'escolaridade_media': escolaridade_media_mulheres_negras})

dist_populacao['Populacao'].append({'label': 'Mulheres Brancas',
                                    'qtd_pessoas': qtd_mulheres_brancas,
                                    'porcen_pessoas': qtd_mulheres_brancas/total_populacao,
                                    'renda_media': renda_media_mulheres_brancas,
                                    'escolaridade_media': escolaridade_media_mulheres_brancas})

dist_populacao['Populacao'].append({'label': 'Homens Negros',
                                    'qtd_pessoas': qtd_homens_negros,
                                    'porcen_pessoas': qtd_homens_negros/total_populacao,
                                    'renda_media': renda_media_homens_negros,
                                    'escolaridade_media': escolaridade_media_homens_negros})

dist_populacao['Populacao'].append({'label': 'Homens Brancos',
                                    'qtd_pessoas': qtd_homens_brancos,
                                    'porcen_pessoas': qtd_homens_brancos/total_populacao,
                                    'renda_media': renda_media_homens_brancos,
                                    'escolaridade_media': escolaridade_media_homens_brancos})

print(json.dumps(dist_populacao, indent=4, ensure_ascii=False))

# Salvando json em um arquivo chamado: "data_per_uf.json" 
with open('populacao_pizza.json', 'w') as populacao_pizza_out_file:  
    json.dump(dist_populacao, populacao_pizza_out_file, indent=4, ensure_ascii=False)

{
    "Populacao": [
        {
            "label": "Total",
            "escolaridade_media": 6.474662275161909,
            "qtd_pessoas": 199085594.0,
            "porcen_pessoas": 1,
            "renda_media": 846.4345316818856
        },
        {
            "label": "Mulheres Negras",
            "escolaridade_media": 6.031404575308214,
            "qtd_pessoas": 52932128.0,
            "porcen_pessoas": 0.2658762341186776,
            "renda_media": 460.9398024579703
        },
        {
            "label": "Mulheres Brancas",
            "escolaridade_media": 7.428491344246247,
            "qtd_pessoas": 49273063.0,
            "porcen_pessoas": 0.24749687815181645,
            "renda_media": 826.2688492087451
        },
        {
            "label": "Homens Negros",
            "escolaridade_media": 5.522829129683632,
            "qtd_pessoas": 52706937.0,
            "porcen_pessoas": 0.2647451075741824,
            "renda_media": 751.3359246430882
        },
        {
            "label": "Homens Brancos",
            "escolaridade_media": 7.077574057693368,
            "qtd_pessoas": 44173466.0,
            "porcen_pessoas": 0.22188178015532353,
            "renda_media": 1444.328244245086
        }
    ]
}